body {
  font-family: 'Arial, sans-serif';
  color: #FFFFFF;
  background-color: #194350;
  margin: 0;
  padding: 0; }

.texto-especial {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: -1px -1px 0 rgba(255, 0, 0, 0.5), 1px 1px 0 #AED2D6, -2px -2px 0 rgba(0, 0, 255, 0.2), 2px 2px 0 rgba(0, 0, 255, 0.2);
  transform: rotate(-3deg);
  font-style: italic; }

header {
  height: 60px;
  margin-top: -65px; }
  header .texto-especial {
    text-align: center;
    font-size: 36px; }

footer {
  background-color: #194350;
  padding: 20px;
  color: white; }
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px; }

.footer-left {
  flex: 1;
  padding-left: 10%; }

.footer-right {
  flex: 1;
  text-align: right;
  padding-left: 45%; }

.legal-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px; }
  .legal-links a {
    text-decoration: none;
    color: #6C878F;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: smaller; }

@media (max-width: 768px) {
  .container {
    flex-direction: row;
    align-items: center;
    margin-right: 50%; } }
.section {
  padding: 50px 20px;
  text-align: center;
  position: relative; }

#buy-poison {
  background-color: #194350;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  position: relative;
  padding: 0 10%; }
  #buy-poison .buy-poison-content {
    max-width: 600px;
    text-align: left;
    margin-top: -220px; }
  #buy-poison h1 {
    font-size: 6.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 10px;
    line-height: 1.2;
    position: relative; }
    #buy-poison h1 .trust-us {
      display: block;
      font-size: 1em;
      font-weight: 400;
      color: transparent;
      -webkit-text-stroke: 1px #FE8B84;
      text-shadow: none;
      margin-top: -60px;
      margin-left: 26px; }
  #buy-poison p {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    max-width: 500px;
    font-weight: lighter;
    letter-spacing: 0.05em;
    word-spacing: 0.5em;
    line-height: 1.5; }
  #buy-poison button {
    background-color: #D1D9DC;
    border: none;
    color: #194350;
    padding: 18px 65px;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease; }
    #buy-poison button:hover {
      background-color: #b4c1c6; }
  #buy-poison .buy-poison-image {
    max-width: 250px;
    margin-right: 190px; }
    #buy-poison .buy-poison-image img {
      width: 100%;
      height: auto; }
    #buy-poison .buy-poison-image .image-caption {
      font-size: 0.7em;
      color: #CCCCCC;
      margin-top: 80px;
      width: 170%; }

@media (max-width: 768px) {
  #buy-poison {
    flex-direction: column;
    padding: 20px;
    margin-left: 3%;
    margin-right: 3%; }
    #buy-poison .buy-poison-content {
      margin-top: 0;
      text-align: center; }
      #buy-poison .buy-poison-content h1 {
        font-size: 3em;
        margin-bottom: 5px; }
        #buy-poison .buy-poison-content h1 .trust-us {
          font-size: 0.8em;
          margin-top: -25px;
          margin-left: -98px;
          -webkit-text-stroke: 0.5px #FE8B84; }
      #buy-poison .buy-poison-content p {
        font-size: 0.9em;
        margin-bottom: 15px;
        margin-top: 20px; }
      #buy-poison .buy-poison-content button {
        background-color: #D1D9DC;
        border: none;
        color: #194350;
        padding: 18px 65px;
        margin-top: 40px;
        margin-left: 10px;
        font-size: 1.2em;
        letter-spacing: 0.2em;
        word-spacing: 0.5em;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.3s ease; }
    #buy-poison .buy-poison-image img {
      display: none; }
    #buy-poison .buy-poison-image .image-caption {
      display: block;
      text-align: right;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: -140px; } }
.cruelty-free {
  background-color: #FFFFFF;
  padding: 80px 40px;
  font-family: 'Josefin', sans-serif;
  position: relative; }
  .cruelty-free .header-decoration {
    position: absolute;
    top: 80px;
    left: 160px;
    display: flex;
    align-items: center; }
    .cruelty-free .header-decoration .section-number {
      position: absolute;
      font-size: 2rem;
      font-weight: 600;
      font-style: italic;
      color: #194350;
      margin-left: 15px;
      margin-top: -20px;
      word-spacing: 0.5em; }
    .cruelty-free .header-decoration .line-decoration {
      width: 350px;
      height: 90px;
      background: repeating-linear-gradient(45deg, rgba(255, 126, 95, 0), rgba(255, 126, 95, 0) 2px, rgba(255, 180, 123, 0.5) 2px, rgba(255, 180, 123, 0.5) 4px); }
  .cruelty-free .cruelty-free-title {
    font-family: 'Josefin', sans-serif;
    font-size: 5.5rem;
    color: #194350;
    text-align: left;
    margin-top: 40px;
    margin-left: 150px;
    position: relative;
    letter-spacing: 0.05em;
    word-spacing: 0em; }
    .cruelty-free .cruelty-free-title .development {
      display: block;
      font-size: 5.5rem;
      font-weight: 600;
      color: transparent;
      -webkit-text-stroke: 1px #FE8B84;
      text-shadow: none;
      margin-top: -45px;
      margin-left: 40px; }
  .cruelty-free .cruelty-free-description {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
    color: #194350;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 40px; }
  .cruelty-free .puppy-section {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .cruelty-free .puppy-section .puppy-text {
      max-width: 40%;
      margin-left: 90px; }
      .cruelty-free .puppy-section .puppy-text .puppy-title {
        font-size: 2.5rem;
        color: #194350;
        margin-bottom: 10px;
        margin-top: -17px; }
      .cruelty-free .puppy-section .puppy-text .puppy-description {
        font-size: 0.95rem;
        color: #759097;
        line-height: 1.5;
        text-align: left;
        margin-left: 100px;
        margin-right: 60px; }
    .cruelty-free .puppy-section .puppy-image {
      max-width: 50%;
      margin-right: 245px; }
      .cruelty-free .puppy-section .puppy-image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }

@media (max-width: 768px) {
  .cruelty-free {
    padding: 20px 20px;
    width: 100%; }
    .cruelty-free .header-decoration {
      top: 45px;
      left: 20px; }
      .cruelty-free .header-decoration .section-number {
        font-size: 1.2rem;
        margin-left: 0;
        margin-top: 0; }
      .cruelty-free .header-decoration .line-decoration {
        width: 200px;
        height: 60px; }
    .cruelty-free .cruelty-free-title {
      font-size: 3rem;
      margin-left: 20px;
      margin-top: 60px; }
      .cruelty-free .cruelty-free-title .development {
        font-size: 3rem;
        margin-top: -30px;
        margin-left: 20px;
        -webkit-text-stroke: 1px #FE8B84; }
    .cruelty-free .cruelty-free-description {
      font-size: 1rem;
      margin: 20px auto; }
    .cruelty-free .puppy-section {
      flex-direction: column;
      align-items: center; }
      .cruelty-free .puppy-section .puppy-text {
        max-width: 80%;
        margin-left: 0;
        text-align: center; }
        .cruelty-free .puppy-section .puppy-text .puppy-title {
          font-size: 2rem;
          margin-top: 20px; }
        .cruelty-free .puppy-section .puppy-text .puppy-description {
          font-size: 0.9rem;
          margin: 0 20px; }
      .cruelty-free .puppy-section .puppy-image {
        max-width: 80%;
        margin: 20px 0; }
        .cruelty-free .puppy-section .puppy-image img {
          width: 100%;
          height: auto; } }
#our-flavours {
  background: linear-gradient(to bottom, #FE8B84, #FFBEB1);
  text-align: center;
  padding: 150px 0;
  font-family: 'Josefin', sans-serif;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

.header-decoration2 {
  position: absolute;
  top: 40px;
  right: 100px;
  display: flex;
  align-items: center; }
  .header-decoration2 .section-number2 {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-left: 80px;
    margin-top: -40px;
    word-spacing: 0.5em; }
  .header-decoration2 .line-decoration2 {
    width: 200px;
    height: 90px;
    background: repeating-linear-gradient(135deg, rgba(255, 126, 95, 0), rgba(255, 126, 95, 0) 2px, rgba(255, 255, 255, 0.5) 2px, rgba(255, 255, 255, 0.5) 4px); }

.flavours-title {
  font-family: 'Josefin', sans-serif;
  font-size: 5.5rem;
  color: #FFFFFF;
  text-align: right;
  margin-top: -72px;
  margin-right: 100px;
  position: relative;
  letter-spacing: 0.05em;
  word-spacing: 0em; }
  .flavours-title .flavours-subtitle {
    display: block;
    font-size: 5.5rem;
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
    text-shadow: none;
    margin-top: -45px;
    margin-right: -20px; }

.flavours-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box; }

.flavour-card {
  background-color: #ffffff;
  color: #333333;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 220px;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 10px;
  box-sizing: border-box; }
  .flavour-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); }
  .flavour-card img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    float: left; }
  .flavour-card h3 {
    font-size: 1em;
    margin: 0;
    color: #194350;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px; }
  .flavour-card p {
    clear: both;
    font-size: 0.8em;
    color: #194350;
    margin: 10px 0 0 0; }
  .flavour-card button {
    background-color: #FE8B84;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 15px;
    transition: background-color 0.3s;
    float: right; }
    .flavour-card button:hover {
      background-color: #f7658b; }

#load-more {
  background-color: #FFFFFF;
  border: none;
  color: #194350;
  padding: 0px 10px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 50px;
  width: 150px;
  height: 50px;
  border-radius: 40px;
  transition: background-color 0.3s; }
  #load-more:hover {
    background-color: #FE8B84; }

@media (max-width: 768px) {
  #our-flavours {
    padding: 100px 0;
    width: 100vw; }

  .flavours-title {
    font-size: 2.5rem;
    margin-right: 10px;
    margin-top: -23px;
    text-align: right; }

  .flavours-subtitle {
    font-size: 1rem; }

  .header-decoration2 {
    top: 10px;
    right: 10px; }

  .flavours-grid {
    gap: 10px; }

  .flavour-card {
    width: 150px; }

  #load-more {
    font-size: 0.8em;
    padding: 0px 5px;
    width: 100px;
    height: 40px; } }

/*# sourceMappingURL=main.css.map */
