.features {
    padding: 2em 0;
    text-align: center;

    h2 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        li {
            margin: 1em;
            width: 30%;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        ul {
            flex-direction: column;
            li {
                width: 100%;
                margin: 0.5em 0;
            }
        }
    }
}
