// Variables
$primary-color: #194350;
$secondary-color: #FFFFFF;
$button-color: #D1D9DC;
$background-color: #194350;
$text-color: #FFFFFF;
$flavour-color: #FE8B84;

// Global Styles
body {
    font-family: 'Arial, sans-serif';
    color: $text-color;
    background-color: $background-color;
    margin: 0;
    padding: 0;
}

/* Suponiendo que tienes un elemento con la clase "texto-especial" */
.texto-especial {
    font-family: 'Arial', sans-serif; /* O cualquier otra fuente sans-serif que te guste */
    font-size: 24px;
    color: white; /* Color del texto interior */
    text-shadow: 
      -1px -1px 0 rgba(255, 0, 0, 0.5), /* Sombra interior roja */
      1px 1px 0 #AED2D6,  /* Sombra interior verde */
      -2px -2px 0 rgba(0, 0, 255, 0.2), /* Sombra exterior azul */
      2px 2px 0 rgba(0, 0, 255, 0.2);  /* Sombra exterior azul */
      transform: rotate(-3deg);
      font-style: italic;
  }

header{  
  height: 60px;
  margin-top: -65px;
  .texto-especial {
    text-align: center;
    font-size: 36px; /* Ajusta el tamaño según tus preferencias */
  }
}



footer {
  background-color: $primary-color;
  padding: 20px;
  color: white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
}



.footer-left {
  flex: 1;
  padding-left: 10%;
}

.footer-right {
  flex: 1;
  text-align: right;
  padding-left: 45%;

  //barra
//   border-left: 2px solid #fff;
//   padding-left: 10px;
}

.legal-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  a{
    text-decoration: none;
    color: #6C878F;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: smaller;
    }
}

@media (max-width: 768px) { //responsive ahora mismo creo que FOOTER solo
  .container {
    flex-direction:row;
    align-items: center;
    margin-right: 50%;
  }
}













  


// Section Styles
.section {
    padding: 50px 20px;
    text-align: center;
    position: relative;
}

#buy-poison {
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding: 0 10%;

    .buy-poison-content {
        max-width: 600px;
        text-align: left;
        margin-top: -220px; // Ajustar la posición del título y subtítulo
    }

    h1 {
        font-size: 6.5em; // Ajustar tamaño de la fuente para ser más grande
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
        margin-bottom: 10px; // Reducir el margen inferior
        line-height: 1.2;
        position: relative;

        .trust-us {
            display: block;
            font-size: 1em; // Ajustar tamaño de la fuente del subtítulo
            font-weight: 400;
            color: transparent;
            -webkit-text-stroke: 1px $flavour-color; // Contorno sin relleno
            text-shadow: none; // Eliminar sombra del texto
            margin-top: -60px;
            margin-left: 26px;
        }
    }

    p {
        font-size: 1em; // Ajustar tamaño de la fuente
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 20px; // Reducir el margen inferior
        max-width: 500px;
        font-weight: lighter;
        letter-spacing: 0.05em;
        word-spacing: 0.5em;
        line-height: 1.5;
    }

    button {
        background-color: $button-color;
        border: none;
        color: #194350;
        padding: 18px 65px;
        margin-top: 25px;
        margin-left: 10px;
        font-size: 1.2em;
        letter-spacing: 0.2em;
        word-spacing: 0.5em;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darken($button-color, 10%);
        }
    }

    .buy-poison-image {
        max-width: 250px; // Hacer la imagen un poco más pequeña
        margin-right: 190px; // Desplazar la imagen hacia el centro

        img {
            width: 100%;
            height: auto;
        }

        .image-caption {
            font-size: 0.7em; // Ajustar tamaño de la fuente de la leyenda
            color: #CCCCCC;
            margin-top: 80px; // Añadir margen superior
            width: 170%;
        }
    }
}

// Media Queries
@media (max-width: 768px) {
    #buy-poison {
        flex-direction: column;
        padding: 20px;
        margin-left: 3%;
        margin-right: 3%;

        .buy-poison-content {
            margin-top: 0;
            text-align: center;

            h1 {
                font-size: 3em; // Ajustar tamaño de la fuente para dispositivos móviles
                margin-bottom: 5px; // Ajustar margen inferior para dispositivos móviles

                .trust-us {
                    font-size: 0.8em; // Ajustar tamaño de la fuente del subtítulo para dispositivos móviles
                    margin-top: -25px; // Ajustar margen superior para dispositivos móviles
                    margin-left: -98px; // Centrar subtítulo en dispositivos móviles
                    -webkit-text-stroke: 0.5px $flavour-color; // Ajustar contorno para dispositivos móviles
                }
            }

            p {
                font-size: 0.9em; // Ajustar tamaño de la fuente para dispositivos móviles
                margin-bottom: 15px; // Ajustar margen inferior para dispositivos móviles
                margin-top: 20px;
            }

            button {
                background-color: $button-color;
                border: none;
                color: #194350;
                padding: 18px 65px;
                margin-top: 40px;
                margin-left: 10px;
                font-size: 1.2em;
                letter-spacing: 0.2em;
                word-spacing: 0.5em;
                font-weight: 700;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }
        }

        .buy-poison-image img {
            display: none;
        }

        .buy-poison-image .image-caption {
            display: block; // Mostrar leyenda en dispositivos móviles
            text-align:right;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: -140px;
        }
    }
}








#our-flavours {
    background-color: $flavour-color;

    h2 {
        font-size: 2.5em;
        color: $text-color;
    }
    .flavours-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .flavour-card {
        background-color: white;
        color: $primary-color;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        max-width: 300px;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        h3 {
            font-size: 1.5em;
            margin: 10px 0;
        }
        p {
            padding: 0 10px;
            font-size: 1em;
        }
        button {
            background-color: $flavour-color;
            border: none;
            color: white;
            padding: 10px 20px;
            font-size: 1em;
            cursor: pointer;
            margin-bottom: 10px;
        }
    }
}

.cruelty-free {
    background-color: #FFFFFF;
    padding: 80px 40px;
    font-family: 'Josefin', sans-serif;
    position: relative;

    .header-decoration {
        position: absolute;
        top: 80px; // Ajusta según sea necesario
        left: 160px; // Ajusta según sea necesario
        display: flex;
        align-items: center;

        .section-number {
            position: absolute;
            font-size: 2rem; // Ajusta el tamaño de la fuente
            font-weight: 600;
            font-style: italic;
            color: $primary-color;
            margin-left: 15px;
            margin-top: -20px; // Ajusta la posición vertical de los números
            word-spacing: 0.5em;
        }

        .line-decoration {
            width: 350px; // Ajusta el ancho según sea necesario
            height: 90px;
            background: repeating-linear-gradient(
                45deg,
                rgba(255, 126, 95, 0),
                rgba(255, 126, 95, 0) 2px,
                rgba(255, 180, 123, 0.5) 2px,
                rgba(255, 180, 123, 0.5) 4px
            );
        }
    }

    .cruelty-free-title {
        font-family: 'Josefin', sans-serif;
        font-size: 5.5rem;
        color: $primary-color;
        text-align: left;
        margin-top: 40px; // Ajusta según sea necesario
        margin-left: 150px;
        position: relative;
        letter-spacing: 0.05em;
        word-spacing: 0em;

        .development {
            display: block;
            font-size: 5.5rem;
            font-weight: 600;
            color: transparent;
            -webkit-text-stroke: 1px $flavour-color;
            text-shadow: none;
            margin-top: -45px;
            margin-left: 40px;
        }
    }

    .cruelty-free-description {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;
        color: $primary-color;
        text-align: center;
        max-width: 600px;
        margin: 0 auto 40px;
    }

    .puppy-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .puppy-text {
            max-width: 40%;
            margin-left: 90px;

            .puppy-title {
                font-size: 2.5rem;
                color: $primary-color;
                margin-bottom: 10px;
                margin-top: -17px;
            }

            .puppy-description {
                font-size: 0.95rem;
                color: #759097;
                line-height: 1.5;
                text-align: left;
                margin-left: 100px;
                margin-right: 60px;
            }
        }

        .puppy-image {
            max-width: 50%;
            margin-right: 245px;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }
    }
}

@media (max-width: 768px) {
    .cruelty-free {
        padding: 20px 20px;

        .header-decoration {
            top: 20px;
            left: 20px;

            .section-number {
                font-size: 1.2rem;
                margin-left: 0;
                margin-top: 0;
            }

            .line-decoration {
                width: 100px;
                height: 30px;
            }
        }

        .cruelty-free-title {
            font-size: 3rem;
            margin-left: 20px;
            margin-top: 60px;

            .development {
                font-size: 3rem;
                margin-top: -30px;
                margin-left: 20px;
                -webkit-text-stroke: 1px $flavour-color;
            }
        }

        .cruelty-free-description {
            font-size: 1rem;
            margin: 20px auto;
        }

        .puppy-section {
            flex-direction: column;
            align-items: center;

            .puppy-text {
                max-width: 80%;
                margin-left: 0;
                text-align: center;

                .puppy-title {
                    font-size: 2rem;
                    margin-top: 20px;
                }

                .puppy-description {
                    font-size: 0.9rem;
                    margin: 0 20px;
                }
            }

            .puppy-image {
                max-width: 80%;
                margin: 20px 0;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}




